# ## Специфичные папки сборки для C# / .NET
[Bb]in/
[Obj]/
[Log]/
logs/

# ## Локальные списки проверки (чтобы твои кастомные тесты не затирались)
# Если хочешь, чтобы папка list/ и базовые шаблоны были на GitHub, оставь как есть.
# Если хочешь полностью скрыть локальные списки, раскомментируй строку ниже:
# list/

# ## Временные файлы обновлений утилиты
*.bak

# ## Файлы конфигурации сред разработки
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# ## Свойства сборки и кэш NuGet
.nuget/
packages/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# ## Системные файлы операционных систем
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
obj/
